header {
	font-size: xx-large;
	margin: 0.5em;
}

nav {
	clear: both;
	overflow: hidden;
	padding: 0.5em;
	background-color: #17a;
	color: #fff;
	white-space: nowrap;
	overflow-x: auto;
}

@media (min-height: 30em) {
	nav {
		position: sticky;
		top: 0;
	}
}

nav p:first-child {
	margin-top: 0;
}

nav p:last-child {
	margin-bottom: 0;
}

nav a {
	margin: 0.5em;
	color: #fff;
}

nav a:hover {
	background-color: #17a;
	color: #aaa;
}

#thisSite {
	color: #aaa;
}

#changed {
	float: right;
	font-size: x-small;
	margin: 0.5em;
}

main {
	padding: 0.5em;
	max-width: 125ch;
	margin: auto;
}

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: #fff;
	color: #000;
}

a {
	text-decoration: none;
	color: #17a;
}

a:hover {
	background-color: #eee;
}

dl {
	display: grid;
	column-gap: 0.5em;
	row-gap: 0.5em;
}

dd {
	margin: 0;
}

code {
	white-space: pre-wrap;
}

img {
	max-width: 100%;
}

video {
	max-width: 100%;
}

@media (min-width: 30em) {
	dl {
		grid-template-columns: 20% auto;
	}

	dt {
		text-align: right;
	}

	.right {
		float: right;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #eee;
	}
	a:hover {
		background-color: #222;
	}
}
